<html>
    <head>
        <%- include(./basics/basics.ejs); %>
    </head>
    <body>
        <h1>Sample Controller</h1>
        <h2>Find me at controllers/SampleController.js</h2>
    </body>
</html>
